@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap");
body {
  font-family: "Playfair Display", serif;
}
ul {
  list-style: none;
}
ul.ingredients {
  list-style-type: circle;
}
nav {
  background-color: #086761;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}
nav img {
  max-width: 50px;
}
nav a {
  text-decoration: none;
}
a {
  color: white;
}

button {
  padding: 10px;
  background-color: #086761;
  color: white;
  font-family: "Playfair Display", serif;
  border-radius: 10%;
  border: none;
  margin-left: 23em;
  display: flex;
  justify-content: center;
}
.pad {
  padding: 17px 0 17px 0;
}
.price {
  padding-top: 4em;
}
.meal-pic {
  border-radius: 10%;
  margin-left: 3em;
  max-width: 80%;
}

.mealspics {
  max-width: 40%;
  padding-left: 10em;
  border-radius: 10%;
}
.descrp {
  color: #086761;
}
figcaption {
  color: black;
  text-align: center;
}
h2,
h3 {
  text-align: center;
  display: grid;
  grid-column: 1/3;
  margin-top: 3em;
}

div.container {
  list-style: none;
  display: grid;
  grid-column: 1/3;
}
.apps img {
  max-width: 50%;
}
.division1 {
  margin: 2em;
  display: grid;
  grid-column: 1/2;
}
.division2 {
  margin: 3em 15em 0 7em;
  display: grid;
  grid-column: 2/3;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.division3 {
  display: grid;
  grid-column: 1/3;
}
ul.apps {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7.5em;
}
footer {
  background-color: #086761;
  color: white;
}
footer ul {
  list-style: none;
  text-align: center;
  padding: 30px;
  line-height: 1.7;
}
h2,
.menu,
h4 {
  color: #ddb486;
}

@media only screen and (max-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Playfair Display", serif;
  }
  .meals,
  .division1,
  .division2 {
    display: grid;
    grid-column: 1/3;
  }

  .division2 {
    margin: 3em;
  }
  button {
    margin-left: 17em;
  }
  .meal-pic {
    margin-bottom: 3em;
  }
}
