/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* playfair */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap");

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  background-color: #036563;
  color: white;
  width: 100%;
  height: 3em;
}
li {
  text-transform: uppercase;
}
/* ************************************************CONTACT HTML PAGE************************************************ */
/* INTRO TEXT */
.introContact {
  padding: 15em 25em 15em 25em;
}
.contactH1 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  color: #036563;
  font-size: 2.2em;
}

/* FORM */
.formContactH1 {
  text-transform: uppercase;
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  margin: 15px;
  font-weight: normal;
}
.formContact {
  background: url(/images/contactusBg.png);
  background-size: cover;
  padding-left: 2em;
  padding-top: 10em;
}
.form-controlContact {
  border-radius: 10px;
  margin: 15px;
  padding-left: 1em;
  width: 35rem;
  height: 2.5rem;
  border: 1px solid white;
}
.textareaFormContact {
  width: 40rem;
  border-radius: 10px;
  margin: 15px;
  padding-left: 1em;
}
.formFileContact {
  padding-left: 1em;
  color: white;
  font-size: 1em;
}
.CV {
  text-transform: uppercase;
  font-size: 1.3em;
}
.fileContact {
  border: none;
}
.signupButtonContact {
  border-radius: 10px;
  width: 10rem;
  height: 3rem;
  text-transform: uppercase;
  background-color: #036563;
  color: white;
  margin-left: 32rem;
  font-size: larger;
  border: none;
  cursor: pointer;
}

/* ************************************************PARTNER HTML PAGE************************************************ */
/* FORM */
.partner {
  /* background-color: black; */
  background-image: url(../images/formBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 2em;
  padding-bottom: 10em;
  padding-top: 5em;
  /* -webkit-filter: brightness(0.5);
  filter: brightness(0.5); */
}
.formH1 {
  text-transform: uppercase;
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  margin: 15px;
  font-weight: normal;
}
.form-control {
  border-radius: 10px;
  margin: 15px;
  padding-left: 1em;
}
input {
  width: 25rem;
  height: 2rem;
  border: 1px solid white;
}
.textareaForm {
  border-radius: 10px;
  margin: 15px;
  padding-left: 1em;
}
.signupButton {
  border-radius: 10px;
  width: 10rem;
  height: 3rem;
  text-transform: uppercase;
  background-color: #036563;
  color: white;
  margin-left: 16rem;
  font-size: larger;
  border: none;
  cursor: pointer;
}

/* SIGN UP BUTTON CENTER */
.signupBigButton {
  padding: 6em;
  text-align: center;
}
.signupBigButton2 {
  padding: 2em;
  text-align: center;
}
.button {
  /* position: absolute; */
  border-radius: 10px;
  width: 20rem;
  height: 3rem;
  text-transform: uppercase;
  background-color: #036563;
  /* color: white; */
  font-size: larger;
  border: none;
}
.signupA {
  color: white;
}

/* CIRCLE */
.iconCircle {
  max-width: 60%;
}
.circle-container {
  position: relative;
  width: 20em;
  height: 20em;
  padding: 2.8em;
  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border: 3px solid #ddb586;
  border-radius: 50%;
  margin: 1.75em auto 0;
}
.circle-container div {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 4em; */
  /* height: 4em; */
  /* margin: -2em; */
}
.circle-container img {
  display: block;
  width: 100%;
}
.center h1 {
  text-transform: uppercase;
  color: #036563;
  font-family: "Playfair Display", serif;
  font-size: 2.8em;
  text-align: center;
  /* padding-bottom: 1em; */
}
/* .center {
  transform: rotate(190deg) translate(8.5em) rotate(-190deg);
} */
.icon1 {
  transform: translate(10em);
}
.icon2 {
  transform: rotate(258deg) translate(16em) rotate(-258deg);
}
.icon3 {
  transform: rotate(70deg) translate(9em) rotate(-70deg);
}
.icon4 {
  transform: rotate(134deg) translate(12em) rotate(-134deg);
}
.icon5 {
  transform: rotate(179deg) translate(15em) rotate(-179deg);
}
.icon6 {
  transform: rotate(216deg) translate(17em) rotate(-216deg);
}
.icon7 {
  transform: rotate(308deg) translate(13em) rotate(-308deg);
}
.popupH1 {
  font-size: 20px;
  text-transform: uppercase;
}
.popuptext p {
  font-size: 14px;
}

/* POPUP WINDOWS */
.box {
  cursor: pointer;
}
.box .popuptext {
  visibility: hidden;
  width: 350px;
  height: 120px;
  /* background-color: #ddb586; */
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 70%;
  left: 130%;
  margin-left: -100px;
}
/* .box .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 4%;
  border-width: 6px;
  border-style: solid;
  border-color: #ddb586 transparent transparent transparent;
} */

.icon2 .popuptext {
  height: 100px;
  bottom: 100%;
  left: -20%;
}
/* .icon2 .popuptext::after {
  left: 45%;
} */
.icon3 .popuptext {
  height: 90px;
  bottom: 30%;
  left: 165%;
}
.icon4 .popuptext {
  height: 90px;
  bottom: 40%;
  left: -215%;
}
/* .icon4 .popuptext::after {
  left: 93%;
} */
.icon5 .popuptext {
  height: 90px;
  left: -180%;
}
/* .icon5 .popuptext::after {
  left: 93%;
} */
.icon6 .popuptext {
  height: 100px;
  left: -180%;
}
/* .icon6 .popuptext::after {
  left: 93%;
} */
.icon7 .popuptext {
  height: 100px;
}
.box .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
/* Add animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  background-color: #fafafa;
}
.featuresImg {
  max-width: 100%;
}
.featuresText {
  padding: 3em;
  line-height: 1.6;
  font-size: 1em;
}
.featuresH1 {
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 2;
  padding-top: 1em;
  padding-bottom: 2em;
}
.featuresH2 {
  font-family: "Playfair Display", serif;
  padding-top: 3em;
  font-weight: normal;
}
.entry-hr {
  margin-right: 70%;
}

/* QUICKIT SOFTWARE */
.softwareH1 {
  padding: 1em;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 2.8em;
  text-align: center;
  font-weight: 900;
  color: #036563;
}
.quickitSoftware {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5em;
}
.softwareIcons {
  max-width: 90px;
  max-height: 90px;
}
.quickitSoftware h1 {
  font-family: "Playfair Display", serif;
  font-size: 3em;
}
.quickitSoftware p {
  font-size: 1.2em;
}
.softwareSpan {
  font-family: "Playfair Display", serif;
  color: #036563;
  text-transform: uppercase;
  font-size: 1.5em;
}
/* ************************************************ABOUT US HTML PAGE************************************************ */
.video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.aboutH1 {
  text-align: center;
  font-family: "Playfair Display", serif;
  color: #036563;
  font-size: 3em;
  padding: 1em;
}
.AnneSofie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
  padding: 5em;
  align-items: center;
  /* background-color: #8b5136; */
}
.AnneSofieP {
  padding: 3em;
  font-family: "Playfair Display", serif;
  line-height: 1.6;
  color: #036563;
}
.AnneSofiePic {
  max-width: 70%;
  /* max-height: 50%; */
  padding-left: 5em;
  align-self: center;
}

.aboutP {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
  padding: 5em;
  line-height: 2;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #036563;
  color: white;
}
.aboutP p {
  font-family: "Playfair Display", serif;
  padding-left: 2em;
}

.MissionVision {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
  text-align: center;
  padding: 3em;
}
.Mission {
  padding: 3em;
  border-radius: 50%;
  width: 380px;
  height: 380px;
  background-color: #ddb586;
}

.MissionH1 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 3em;
  padding-bottom: 0.5em;
}
.MissionP {
  padding: 2em;
}
.circleMission {
  padding-top: 8em;
  padding-left: 10em;
}
.Vision {
  padding: 3em;
  border-radius: 50%;
  width: 380px;
  height: 380px;
  background-color: #8b5136;
}
.VisionH1 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 3em;
  padding-bottom: 0.5em;
}
.VisionP {
  /* background-color: #ddb586; */
  padding: 1em;
}
.circleVision {
  padding-right: 12em;
}
/* ************************************************CONTACT HTML PAGE************************************************ */
/* INTRO TEXT */
.introContact {
  padding: 15em 25em 15em 25em;
}
.contactH1 {
  text-align: center;
  font-family: "Playfair Display", serif;
  color: #036563;
  font-size: 2em;
}

/* FORM */
.formContactH1 {
  text-transform: uppercase;
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  margin: 15px;
  font-weight: normal;
}
.formContact {
  background: url(/images/contactusBg.png);
  background-size: cover;
  padding-left: 2em;
  padding-top: 10em;
}
.form-controlContact {
  border-radius: 10px;
  margin: 15px;
  padding-left: 1em;
  width: 35rem;
  height: 2.5rem;
  border: 1px solid white;
}
.textareaFormContact {
  width: 40rem;
  border-radius: 10px;
  margin: 15px;
  padding-left: 1em;
}
.formFileContact {
  padding-left: 1em;
  color: white;
  font-size: 1em;
}
.CV {
  text-transform: uppercase;
  font-size: 1.3em;
}
.fileContact {
  border: none;
}
.signupButtonContact {
  border-radius: 10px;
  width: 10rem;
  height: 3rem;
  text-transform: uppercase;
  background-color: #036563;
  color: white;
  margin-left: 32rem;
  font-size: larger;
  border: none;
}
/* ************************************************WORK HTML PAGE************************************************ */
/* INTRO TEXT */
.introWork {
  padding: 15em 25em 15em 25em;
}
.workH1 {
  text-align: center;
  font-family: "Playfair Display", serif;
  color: #036563;
  font-size: 2em;
  font-weight: normal;
}

/* FORM */
.formWorkH1 {
  text-transform: uppercase;
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  margin: 15px;
  font-weight: normal;
}
.formWork {
  background: url(/images/workBg.png);
  background-size: cover;
  padding-left: 2em;
  padding-top: 10em;
}
.form-controlWork {
  border-radius: 10px;
  margin: 15px;
  padding-left: 1em;
  width: 35rem;
  height: 2.5rem;
  border: 1px solid white;
}
.textareaFormWork {
  width: 40rem;
  border-radius: 10px;
  margin: 15px;
  padding-left: 1em;
}
.formFileWork {
  padding-left: 1em;
  color: white;
  font-size: 1em;
}
.CV {
  text-transform: uppercase;
  font-size: 1.3em;
}
.fileWork {
  border: none;
}
.signupButtonWork {
  border-radius: 10px;
  width: 10rem;
  height: 3rem;
  text-transform: uppercase;
  background-color: #036563;
  color: white;
  margin-left: 32rem;
  font-size: larger;
  border: none;
  cursor: pointer;
}
/* MEDIA QUERIES */
@media screen and (min-width: 1420px) {
  .mobileWhyQuickit {
    display: none;
  }
  .videoMobile {
    display: none;
  }
}
/* SMALL LAPTOP */
@media only screen and (max-width: 1200px) and (min-width: 1000px) {
  /* ************************************************ABOUT US HTML PAGE************************************************ */
  .videoMobile {
    display: none;
  }
  .AnneSofie {
    padding: 2em;
  }
  .AnneSofieP {
    padding: 1em;
  }
  .AnneSofiePic {
    max-width: 60%;
    padding-left: 5em;
  }

  .aboutP {
    padding: 4em;
    font-size: 0.8em;
  }

  .MissionVision {
    padding: 3em;
  }
  .Mission {
    width: 310px;
    height: 310px;
  }

  .MissionH1 {
    font-size: 2.5em;
  }
  .MissionP {
    padding: 2em;
    font-size: 0.9em;
  }
  .circleMission {
    padding-top: 8em;
    padding-left: 1em;
  }
  .Vision {
    width: 310px;
    height: 310px;
  }
  .VisionH1 {
    font-size: 2.5em;
  }
  .VisionP {
    padding: 1em;
    font-size: 0.9em;
  }
  .circleVision {
    padding-left: 2em;
  }
  /* ************************************************CONTACT HTML PAGE************************************************ */
  .introContact {
    padding: 12em 16em 12em 16em;
  }
  /* FORM */
  .form-controlContact {
    width: 30rem;
  }
  .textareaFormContact {
    width: 35rem;
  }

  /* ************************************************WORK HTML PAGE************************************************ */
  /* INTRO TEXT */
  .introWork {
    padding: 12em 16em 12em 16em;
  }
  /* FORM */
  .form-controlWork {
    width: 30rem;
  }
  .textareaFormWork {
    width: 35rem;
  }

  /* ************************************************PARTNER HTML PAGE************************************************ */
  /* CIRCLE */
  .box .popuptext {
    width: 250px;
    height: 120px;
    padding: 8px 0;
  }
  .popuptext p {
    font-size: 14px;
  }
  .popupH1 {
    font-size: 16px;
  }
  .icon2 .popuptext {
    width: 347px;
    height: 90px;
    bottom: 90%;
    left: -18.5%;
  }
  .icon3 .popuptext {
    height: 80px;
    bottom: 30%;
    left: 162%;
  }
  .icon4 .popuptext {
    height: 90px;
    bottom: 20%;
    left: -140%;
  }
  .icon5 .popuptext {
    height: 90px;
    left: -100%;
  }
  .icon6 .popuptext {
    height: 100px;
    left: -100%;
  }
  .icon7 .popuptext {
    height: 100px;
    width: 260px;
  }
  .mobileWhyQuickit {
    display: none;
  }
  /* FEATURES */
  .featuresText {
    font-size: 0.8em;
  }
  /* SOFTWARE */
  .quickitSoftware {
    gap: 3em;
  }
  .softwareIcons {
    max-width: 70px;
    max-height: 70px;
  }
  .softwareSpan {
    font-size: 1.3em;
  }
  .quickitSoftware p {
    font-size: 1em;
  }
}

/* TABLETS BIG */
@media only screen and (max-width: 999px) and (min-width: 768px) {
  /* ************************************************ABOUT US HTML PAGE************************************************ */
  .videoMobile {
    display: none;
  }
  .AnneSofie {
    padding: 1em;
  }
  .AnneSofieP {
    padding: 0em;
  }
  .AnneSofiePic {
    max-width: 90%;
    padding-left: 2em;
  }

  .aboutP {
    padding: 4em;
    font-size: 0.8em;
  }

  .MissionVision {
    padding: 3em;
  }
  .Mission {
    width: 250px;
    height: 250px;
  }

  .MissionH1 {
    font-size: 2em;
  }
  .MissionP {
    padding: 1em;
    font-size: 0.8em;
  }
  .circleMission {
    padding-top: 8em;
    padding-left: 0em;
  }
  .Vision {
    width: 250px;
    height: 250px;
  }
  .VisionH1 {
    font-size: 2em;
  }
  .VisionP {
    padding: 0em;
    font-size: 0.8em;
  }
  .circleVision {
    padding-left: 0em;
  }
  /* ************************************************CONTACT HTML PAGE************************************************ */
  .introContact {
    padding: 8em 12em 8em 12em;
  }
  .contactH1 {
    font-size: 1.5em;
  }
  /* FORM */
  .formContact {
    background-position: center;
    padding-left: 2em;
    padding-top: 9em;
  }
  .form-controlContact {
    width: 30rem;
  }
  .textareaFormContact {
    width: 35rem;
  }
  .formFileContact {
    font-size: 0.8em;
  }
  .signupButtonContact {
    border-radius: 10px;
    width: 9rem;
    height: 2.5rem;
    margin-left: 28rem;
  }

  /* ************************************************WORK HTML PAGE************************************************ */
  /* INTRO TEXT */
  .introWork {
    padding: 8em 12em 8em 12em;
  }
  .workH1 {
    font-size: 1.5em;
  }
  /* FORM */
  .formWork {
    background-position: center;
    padding-left: 2em;
    padding-top: 9em;
  }
  .form-controlWork {
    width: 30rem;
  }
  .textareaFormWork {
    width: 35rem;
  }
  .formFileWork {
    font-size: 0.8em;
  }
  .signupButtonWork {
    border-radius: 10px;
    width: 9rem;
    height: 2.5rem;
    margin-left: 28rem;
  }

  /* ************************************************PARTNER HTML PAGE************************************************ */

  /* FORM */
  .partner {
    background-position: center;
  }

  /* CIRCLE */
  .center h1 {
    padding-bottom: 2.2em;
  }
  .popuptext p {
    font-size: 8px;
  }
  .popupH1 {
    font-size: 12px;
  }
  .icon1 .popuptext {
    height: 50px;
    width: 130px;
  }
  .icon2 .popuptext {
    height: 80px;
    width: 120px;
    bottom: 100%;
    left: 80%;
  }
  .icon3 .popuptext {
    height: 80px;
    width: 120px;
    bottom: 0%;
    left: 155%;
  }
  .icon4 .popuptext {
    width: 120px;
    height: 90px;
    bottom: -10%;
    left: -40%;
  }
  .icon5 .popuptext {
    height: 100px;
    width: 120px;
    left: -20%;
    bottom: -20px;
  }
  .icon6 .popuptext {
    height: 100px;
    width: 120px;
    left: -20%;
    bottom: 5%;
  }
  .icon7 .popuptext {
    height: 50px;
    width: 130px;
  }
  .mobileWhyQuickit {
    display: none;
  }

  /* FEATURES */
  .featuresH1 {
    font-size: 1em;
  }
  .featuresH2 {
    font-size: 0.8em;
  }

  /* QUICKIT SOFTWARE */
  .quickitSoftware {
    gap: 2em;
  }
  .softwareIcons {
    max-width: 60px;
    max-height: 60px;
  }
  .softwareSpan {
    font-size: 1.2em;
  }
  .quickitSoftware p {
    font-size: 0.9em;
  }
}

/* TABLETS SMALL */
@media only screen and (max-width: 767px) and (min-width: 640px) {
  /* ************************************************ABOUT US HTML PAGE************************************************ */
  .videoMobile {
    display: none;
  }
  .AnneSofie {
    padding: 1em;
  }
  .AnneSofieP {
    padding: 0em;
    font-size: 0.8em;
  }
  .AnneSofiePic {
    max-width: 90%;
    padding-left: 1em;
  }
  .aboutP {
    padding: 1em 1em 1em 0em;
    font-size: 0.8em;
  }
  .MissionVision {
    padding: 1em;
  }
  .Mission {
    width: 230px;
    height: 230px;
  }

  .MissionH1 {
    font-size: 1.8em;
  }
  .MissionP {
    padding: 1em;
    font-size: 0.8em;
  }
  .circleMission {
    padding-top: 8em;
    padding-left: 0em;
  }
  .Vision {
    width: 230px;
    height: 230px;
  }
  .VisionH1 {
    font-size: 1.8em;
  }
  .VisionP {
    padding: 0em;
    font-size: 0.8em;
  }
  .circleVision {
    padding-left: 0em;
  }
  /* ************************************************CONTACT HTML PAGE************************************************ */
  /* INTRO TEXT */
  .introContact {
    padding: 8em 12em 8em 12em;
  }
  .contactH1 {
    font-size: 1.5em;
  }
  /* FORM */
  .formContactH1 {
    font-size: 2em;
  }
  .formContact {
    background-position: center;
    padding-left: 2em;
    padding-top: 9em;
  }
  .form-controlContact {
    width: 25rem;
  }
  .textareaFormContact {
    width: 30rem;
  }
  .formFileContact {
    font-size: 0.8em;
  }
  .signupButtonContact {
    border-radius: 10px;
    width: 9rem;
    height: 2.5rem;
    margin-left: 23rem;
  }
  /* ************************************************WORK HTML PAGE************************************************ */
  /* INTRO TEXT */
  .introWork {
    padding: 8em 12em 8em 12em;
  }
  .workH1 {
    font-size: 1.5em;
  }
  /* FORM */
  .formWorkH1 {
    font-size: 2em;
  }
  .formWork {
    background-position: center;
    padding-left: 2em;
    padding-top: 9em;
  }
  .form-controlWork {
    width: 25rem;
  }
  .textareaFormWork {
    width: 30rem;
  }
  .formFileWork {
    font-size: 0.8em;
  }
  .signupButtonWork {
    border-radius: 10px;
    width: 9rem;
    height: 2.5rem;
    margin-left: 23rem;
  }

  /* ************************************************PARTNER HTML PAGE************************************************ */

  /* FORM */
  .partner {
    padding-left: 3em;
  }
  /* FEATURES */
  .featuresImg {
    max-width: 110%;
  }
  .featuresH1 {
    font-size: 1.2em;
    line-height: 1.5;
    padding-top: 0em;
    padding-bottom: 1em;
  }
  .featuresH2 {
    font-size: 0.8em;
    padding-top: 1em;
  }
  /* SOFTWARE */
  .quickitSoftware {
    gap: 1em;
  }
  .softwareIcons {
    max-width: 60px;
    max-height: 60px;
  }
  .softwareSpan {
    font-size: 1.2em;
  }
  .quickitSoftware p {
    font-size: 0.9em;
  }
}

/* MOBILE M AND L */
@media screen and (max-width: 629px) and (min-width: 374px) {
  .video {
    display: none;
  }
  .videoMobile img {
    width: 20%;
    height: 20%;
  }
  .centerVideoMobile {
    text-align: center;
  }
  /* ************************************************ABOUT US HTML PAGE************************************************ */
  .aboutH1 {
    padding-bottom: 0.5em;
  }
  .AnneSofie {
    padding: 0.5em;
  }
  .AnneSofieP {
    padding: 0em;
    font-size: 0.8em;
    width: 350px;
    text-align: center;
  }
  .AnneSofiePic {
    display: none;
  }
  .aboutP {
    padding: 1em;
    font-size: 0.8em;
    text-align: center;
  }
  .aboutP p {
    width: 350px;
    padding: 0;
  }
  .MissionVision {
    padding: 1em;
  }
  .Mission {
    width: 230px;
    height: 230px;
  }

  .MissionH1 {
    font-size: 1.8em;
  }
  .MissionP {
    padding: 1em;
    font-size: 0.8em;
  }
  .circleMission {
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
  }
  .Vision {
    width: 230px;
    height: 230px;
  }
  .VisionH1 {
    font-size: 1.8em;
  }
  .VisionP {
    padding: 0em;
    font-size: 0.8em;
  }
  .circleVision {
    padding-left: 1em;
  }
  /* ************************************************CONTACT HTML PAGE************************************************ */
  /* INTRO TEXT */
  .introContact {
    padding: 6em 5em 6em 5em;
  }
  .contactH1 {
    font-size: 1.3em;
  }
  /* FORM */
  .formContactH1 {
    font-size: 1.5em;
  }
  .formContact {
    background-position: center;
    padding-left: 1em;
    padding-top: 4em;
  }
  .form-controlContact {
    width: 18rem;
  }
  .textareaFormContact {
    width: 18.5rem;
  }
  .formFileContact {
    padding-left: 1.2em;
    font-size: 0.7em;
  }
  .signupButtonContact {
    width: 8rem;
    height: 2.3rem;
    margin-left: 13rem;
  }

  /* ************************************************WORK HTML PAGE************************************************ */
  /* INTRO TEXT */
  .introWork {
    padding: 6em 5em 6em 5em;
  }
  .workH1 {
    font-size: 1.3em;
  }
  /* FORM */
  .formWorkH1 {
    font-size: 1.5em;
  }
  .formWork {
    background-position: center;
    padding-left: 1em;
    padding-top: 4em;
  }
  .form-controlWork {
    width: 18rem;
  }
  .textareaFormWork {
    width: 18.5rem;
  }
  .formFileWork {
    padding-left: 1.2em;
    font-size: 0.7em;
  }
  .signupButtonWork {
    width: 8rem;
    height: 2.3rem;
    margin-left: 13rem;
  }

  /* ************************************************PARTNER HTML PAGE************************************************ */
  /* FORM */
  .partner {
    background-position: center;
    padding-left: 10px;
    padding-bottom: 10em;
    padding-top: 5em;
  }
  .formH1 {
    font-size: 2em;
    text-align: left;
  }
  .form-control {
    border-radius: 10px;
    margin: 15px;
    padding-left: 1em;
  }
  input {
    width: 20rem;
    height: 2rem;
    border: 1px solid white;
  }
  .textareaForm {
    width: 20rem;
  }
  .signupButton {
    width: 10rem;
    height: 2.5rem;
    /* background-color: #ddb586; */
    /* color: black; */
    margin-left: 12rem;
  }

  /* CIRCLE */
  .center h1 {
    font-size: 2.2em;
  }
  .circle-container {
    display: none;
  }
  .mobileWhyQuickit {
    text-align: center;
  }
  .mobileIcon {
    padding: 1em 3em 3em 3em;
    border-bottom: 1px solid black;
  }
  .iconMobileImg {
    max-width: 20%;
    /* max-height: 40%; */
  }
  .iconMobileImg1 {
    max-width: 30%;
  }

  /* SIGN UP BUTTON CENTER */
  .signupBigButton {
    padding: 2em;
  }
  .button {
    width: 15rem;
    height: 2.5rem;
  }
  .signupA {
    color: white;
  }
  /* FEATURES */
  .featuresImg {
    max-width: 100%;
  }
  .featuresH1 {
    font-size: 1.4em;
    line-height: 1.5;
    padding-top: 0em;
    padding-bottom: 1em;
  }
  .featuresH2 {
    font-size: 0.9em;
    padding-top: 1em;
  }

  /* QUICKIT SOFTWARE */
  .softwareH1 {
    font-size: 2.2em;
  }
  .quickitSoftware {
    flex-direction: column;
    gap: 1em;
  }
  .quickitSoftware div {
    border-bottom: 1px solid black;
    padding-bottom: 2em;
  }
  .softwareIcons {
    max-width: 60px;
    max-height: 60px;
  }
  .softwareSpan {
    font-size: 1.2em;
  }
  .quickitSoftware p {
    font-size: 0.9em;
  }
}

/* MOBILE S SIZE AND SMALLER */
@media screen and (max-width: 373px) {
  /* ************************************************ABOUT US HTML PAGE************************************************ */
  .video {
    display: none;
  }
  .videoMobile img {
    width: 20%;
    height: 20%;
  }
  .centerVideoMobile {
    text-align: center;
  }
  .aboutH1 {
    padding-bottom: 0.5em;
    font-size: 1.8em;
  }
  .AnneSofie {
    padding: 0.5em;
  }
  .AnneSofieP {
    padding: 0em;
    font-size: 0.8em;
    width: 300px;
    text-align: center;
  }
  .AnneSofiePic {
    display: none;
  }
  .aboutP {
    padding: 1em;
    font-size: 0.8em;
    text-align: center;
  }
  .aboutP p {
    width: 300px;
    padding: 0;
  }
  .MissionVision {
    padding: 1em;
  }
  .Mission {
    width: 200px;
    height: 200px;
  }

  .MissionH1 {
    font-size: 1.4em;
  }
  .MissionP {
    padding: 0.3em;
    font-size: 0.7em;
  }
  .circleMission {
    padding-top: 2em;
    padding-bottom: 1em;
    padding-left: 0;
  }
  .Vision {
    width: 200px;
    height: 200px;
  }
  .VisionH1 {
    font-size: 1.4em;
  }
  .VisionP {
    padding: 0em;
    font-size: 0.7em;
  }
  .circleVision {
    padding-left: 0;
  }
  /* ************************************************CONTACT HTML PAGE************************************************ */
  .introContact {
    padding: 4em 2em 4em 2em;
  }
  .contactH1 {
    font-size: 1em;
  }
  /* FORM */
  .formContactH1 {
    font-size: 1.2em;
  }
  .formContact {
    background-position: center;
    padding-left: 1em;
    padding-top: 4em;
  }
  .form-controlContact {
    height: 2.5em;
    width: 15rem;
  }
  .textareaFormContact {
    width: 16rem;
  }
  .formFileContact {
    padding-left: 1.2em;
    font-size: 0.7em;
  }

  .signupButtonContact {
    width: 8rem;
    height: 2.3rem;
    margin-left: 10rem;
  }

  /* ************************************************WORK HTML PAGE************************************************ */
  /* INTRO TEXT */
  .introWork {
    padding: 4em 2em 4em 2em;
  }
  .workH1 {
    font-size: 1em;
  }
  /* FORM */
  .formWorkH1 {
    font-size: 1.2em;
  }
  .formWork {
    background-position: center;
    padding-left: 1em;
    padding-top: 4em;
  }
  .form-controlWork {
    height: 2.5em;
    width: 15rem;
  }
  .textareaFormWork {
    width: 16rem;
  }
  .formFileWork {
    padding-left: 1.2em;
    font-size: 0.7em;
  }

  .signupButtonWork {
    width: 8rem;
    height: 2.3rem;
    margin-left: 10rem;
  }

  /* ************************************************PARTNER HTML PAGE************************************************ */
  /* FORM */
  .partner {
    background-position: center;
    padding-left: 10px;
    padding-top: 2em;
  }
  .formH1 {
    font-size: 1.5em;
  }
  input {
    width: 15rem;
  }
  .textareaForm {
    width: 15rem;
  }
  .signupButton {
    width: 8rem;
    height: 2.5rem;
    margin-left: 9rem;
  }

  /* CIRCLE */
  .circle-container {
    display: none;
  }
  .center h1 {
    padding-bottom: 0em;
    font-size: 2em;
  }
  .mobileWhyQuickit {
    text-align: center;
  }
  .mobileIcon {
    padding: 1em 2em 2em 2em;
    border-bottom: 1px solid black;
  }
  .iconMobileImg {
    max-width: 20%;
    /* max-height: 40%; */
  }
  .iconMobileImg1 {
    max-width: 30%;
  }

  /* SIGN UP BUTTON CENTER */
  .signupBigButton {
    padding: 2em;
  }
  .button {
    width: 13rem;
    height: 2.5rem;
  }

  /* FEATURES */
  .featuresImg {
    max-width: 100%;
  }
  .featuresH1 {
    font-size: 1.2em;
    line-height: 1.5;
    padding-top: 0em;
    padding-bottom: 1em;
  }
  .featuresH2 {
    font-size: 0.8em;
    padding-top: 1em;
  }

  /* QUICKIT SOFTWARE */
  .softwareH1 {
    font-size: 2em;
  }
  .quickitSoftware {
    flex-direction: column;
    gap: 1em;
  }
  .quickitSoftware div {
    border-bottom: 1px solid black;
    padding-bottom: 2em;
  }
  .softwareIcons {
    max-width: 60px;
    max-height: 60px;
  }
  .softwareSpan {
    font-size: 1.2em;
  }
  .quickitSoftware p {
    font-size: 0.9em;
  }
}
