/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* playfair */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap");

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  background-color: #036563;
  color: white;
  width: 100%;
  height: 3em;
}
li {
  text-transform: uppercase;
}
/* ************************************************CONTACT HTML PAGE************************************************ */
/* INTRO TEXT */
.introContact {
  padding: 15em 25em 15em 25em;
}
.contactH1 {
  text-align: center;
  font-family: "Playfair Display", serif;
  color: #036563;
  font-size: 2em;
}

/* FORM */
.formContact {
  background: url(/images/contactBg.png);
  background-size: cover;
  padding-left: 2em;
  padding-top: 10em;
}
.form-controlContact {
  border-radius: 10px;
  margin: 15px;
  padding-left: 1em;
  width: 35rem;
  height: 2.5rem;
  border: 1px solid white;
}
.textareaFormContact {
  width: 40rem;
  border-radius: 10px;
  margin: 15px;
  padding-left: 1em;
}
.formFileContact {
  padding-left: 1em;
  color: white;
  font-size: 1em;
}
.CV {
  text-transform: uppercase;
  font-size: 1.3em;
}
.fileContact {
  border: none;
}
.signupButtonContact {
  border-radius: 10px;
  width: 10rem;
  height: 3rem;
  text-transform: uppercase;
  background-color: #036563;
  color: white;
  margin-left: 32rem;
  font-size: larger;
  border: none;
}

/* ************************************************PARTNER HTML PAGE************************************************ */
/* FORM */
.partner {
  /* background-color: black; */
  background-image: url(../images/formBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 2em;
  padding-bottom: 10em;
  padding-top: 5em;
  /* -webkit-filter: brightness(0.5);
  filter: brightness(0.5); */
}
.formH1 {
  text-transform: uppercase;
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  margin: 15px;
  font-weight: normal;
}
.form-control {
  border-radius: 10px;
  margin: 15px;
  padding-left: 1em;
}
input {
  width: 25rem;
  height: 2rem;
  border: 1px solid white;
}
.textareaForm {
  border-radius: 10px;
  margin: 15px;
  padding-left: 1em;
}
.signupButton {
  border-radius: 10px;
  width: 10rem;
  height: 3rem;
  text-transform: uppercase;
  background-color: #036563;
  color: white;
  margin-left: 16rem;
  font-size: larger;
  border: none;
}

/* SIGN UP BUTTON CENTER */
.signupBigButton {
  padding: 6em;
  text-align: center;
}
.signupBigButton2 {
  padding: 2em;
  text-align: center;
}
.button {
  /* position: absolute; */
  border-radius: 10px;
  width: 20rem;
  height: 3rem;
  text-transform: uppercase;
  background-color: #036563;
  /* color: white; */
  font-size: larger;
  border: none;
}
.signupA {
  color: white;
}

/* CIRCLE */
.iconCircle {
  max-width: 60%;
}
.circle-container {
  position: relative;
  width: 20em;
  height: 20em;
  padding: 2.8em;
  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border: 3px solid #ddb586;
  border-radius: 50%;
  margin: 1.75em auto 0;
}
.circle-container div {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 4em; */
  /* height: 4em; */
  /* margin: -2em; */
}
.circle-container img {
  display: block;
  width: 100%;
}
.center h1 {
  text-transform: uppercase;
  color: #036563;
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 1em;
}
/* .center {
  transform: rotate(190deg) translate(8.5em) rotate(-190deg);
} */
.icon1 {
  transform: translate(10em);
}
.icon2 {
  transform: rotate(258deg) translate(16em) rotate(-258deg);
}
.icon3 {
  transform: rotate(70deg) translate(9em) rotate(-70deg);
}
.icon4 {
  transform: rotate(134deg) translate(12em) rotate(-134deg);
}
.icon5 {
  transform: rotate(179deg) translate(15em) rotate(-179deg);
}
.icon6 {
  transform: rotate(216deg) translate(17em) rotate(-216deg);
}
.icon7 {
  transform: rotate(308deg) translate(13em) rotate(-308deg);
}
.popupH1 {
  font-size: 20px;
  text-transform: uppercase;
}
.popuptext p {
  font-size: 14px;
}

/* POPUP WINDOWS */
.box {
  cursor: pointer;
}
.box .popuptext {
  visibility: hidden;
  width: 350px;
  height: 120px;
  /* background-color: #ddb586; */
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 70%;
  left: 130%;
  margin-left: -100px;
}
/* .box .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 4%;
  border-width: 6px;
  border-style: solid;
  border-color: #ddb586 transparent transparent transparent;
} */

.icon2 .popuptext {
  height: 100px;
  bottom: 100%;
  left: -20%;
}
/* .icon2 .popuptext::after {
  left: 45%;
} */
.icon3 .popuptext {
  height: 90px;
  bottom: 30%;
  left: 165%;
}
.icon4 .popuptext {
  height: 90px;
  bottom: 40%;
  left: -215%;
}
/* .icon4 .popuptext::after {
  left: 93%;
} */
.icon5 .popuptext {
  height: 90px;
  left: -180%;
}
/* .icon5 .popuptext::after {
  left: 93%;
} */
.icon6 .popuptext {
  height: 100px;
  left: -180%;
}
/* .icon6 .popuptext::after {
  left: 93%;
} */
.icon7 .popuptext {
  height: 100px;
}
.box .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
/* Add animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  background-color: #fafafa;
}
.featuresImg {
  max-width: 100%;
}
.featuresText {
  padding: 3em;
  line-height: 1.6;
}
.featuresH1 {
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 2;
  padding-top: 2em;
  padding-bottom: 2em;
  /* padding: 3em; */
  /* border-bottom: 2px solid black; */
}
.featuresH2 {
  font-family: "Playfair Display", serif;
  padding-top: 3em;
  font-weight: normal;
}
.entry-hr {
  margin-right: 70%;
}

/* QUICKIT SOFTWARE */
.softwareH1 {
  padding: 1em;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
  font-weight: 900;
  color: #036563;
}
.quickitSoftware {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-left: 15em;
  padding-right: 14em;
}
.softwareImg {
  max-width: 90%;
  max-height: 100%;
}
.softwareText {
  text-align: center;
}
.softwareText h1 {
  font-family: "Playfair Display", serif;
  font-size: 3em;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1025px) {
  .mobileWhyQuickit {
    display: none;
  }
}
/* SMALL LAPTOP */
@media screen and (min-width: 1000px) and (max-width: 1024px) {
  /* ************************************************CONTACT HTML PAGE************************************************ */
  /* INTRO TEXT */
  .introContact {
    padding: 12em 16em 12em 16em;
  }
  /* FORM */
  .form-controlContact {
    width: 30rem;
  }
  .textareaFormContact {
    width: 35rem;
  }

  /* ************************************************PARTNER HTML PAGE************************************************ */
  /* CIRCLE */
  .box .popuptext {
    width: 250px;
    height: 120px;
    padding: 8px 0;
  }
  .popuptext p {
    font-size: 14px;
  }
  .popupH1 {
    font-size: 16px;
  }
  .icon2 .popuptext {
    width: 320px;
    bottom: 90%;
    left: -2%;
  }
  .icon3 .popuptext {
    height: 80px;
    bottom: 30%;
    left: 162%;
  }
  .icon4 .popuptext {
    height: 90px;
    bottom: 20%;
    left: -140%;
  }
  .icon5 .popuptext {
    height: 90px;
    left: -100%;
  }
  .icon6 .popuptext {
    height: 100px;
    left: -100%;
  }
  .icon7 .popuptext {
    height: 100px;
    width: 260px;
  }
  .mobileWhyQuickit {
    display: none;
  }
}

/* FEATURES */
.featuresH1 {
  font-size: 1.5em;
}
.featuresH2 {
  font-size: 1em;
}

/* QUICKIT SOFTWARE */
.quickitSoftware {
  padding-left: 4em;
  padding-right: 9em;
}
.softwareImg {
  max-width: 100%;
}

/* TABLETS BIG */
@media screen and (min-width: 768px) and (max-width: 999px) {
  /* ************************************************CONTACT HTML PAGE************************************************ */
  /* INTRO TEXT */
  .introContact {
    padding: 8em 12em 8em 12em;
  }
  .contactH1 {
    font-size: 1.5em;
  }
  /* FORM */
  .formContact {
    background-position: center;
    padding-left: 2em;
    padding-top: 9em;
  }
  .form-controlContact {
    width: 30rem;
  }
  .textareaFormContact {
    width: 35rem;
  }
  .formFileContact {
    font-size: 0.8em;
  }

  .signupButtonContact {
    border-radius: 10px;
    width: 9rem;
    height: 2.5rem;
    margin-left: 28rem;
  }

  /* ************************************************PARTNER HTML PAGE************************************************ */

  /* FORM */
  .partner {
    background-position: center;
  }

  /* CIRCLE */
  .center h1 {
    padding-bottom: 2.2em;
  }
  .popuptext p {
    font-size: 8px;
  }
  .popupH1 {
    font-size: 12px;
  }
  .icon1 .popuptext {
    height: 50px;
    width: 130px;
  }
  .icon2 .popuptext {
    height: 80px;
    width: 120px;
    bottom: 100%;
    left: 80%;
  }
  .icon3 .popuptext {
    height: 80px;
    width: 120px;
    bottom: 0%;
    left: 155%;
  }
  .icon4 .popuptext {
    width: 120px;
    height: 90px;
    bottom: -10%;
    left: -40%;
  }
  .icon5 .popuptext {
    height: 100px;
    width: 120px;
    left: -20%;
    bottom: -20px;
  }
  .icon6 .popuptext {
    height: 100px;
    width: 120px;
    left: -20%;
    bottom: 5%;
  }
  .icon7 .popuptext {
    height: 50px;
    width: 130px;
  }
  .mobileWhyQuickit {
    display: none;
  }

  /* FEATURES */
  .featuresH1 {
    font-size: 1em;
  }
  .featuresH2 {
    font-size: 0.8em;
  }

  /* QUICKIT SOFTWARE */
  .quickitSoftware {
    padding-left: 0em;
    padding-right: 0em;
  }
  .softwareImg {
    max-width: 100%;
  }
}

/* TABLETS SMALL */
@media screen and (min-width: 640px) and (max-width: 767px) {
  /* ************************************************CONTACT HTML PAGE************************************************ */
  /* INTRO TEXT */
  .introContact {
    padding: 8em 12em 8em 12em;
  }
  .contactH1 {
    font-size: 1.5em;
  }
  /* FORM */
  .formContact {
    background-position: center;
    padding-left: 2em;
    padding-top: 9em;
  }
  .form-controlContact {
    width: 25rem;
  }
  .textareaFormContact {
    width: 30rem;
  }
  .formFileContact {
    font-size: 0.8em;
  }

  .signupButtonContact {
    border-radius: 10px;
    width: 9rem;
    height: 2.5rem;
    margin-left: 23rem;
  }

  /* ************************************************PARTNER HTML PAGE************************************************ */

  /* FORM */
  .partner {
    padding-left: 3em;
  }
  /* FEATURES */
  .featuresImg {
    max-width: 110%;
  }
  .featuresH1 {
    font-size: 1.2em;
    line-height: 1.5;
    padding-top: 0em;
    padding-bottom: 1em;
  }
  .featuresH2 {
    font-size: 0.8em;
    padding-top: 1em;
  }
  /* SOFTWARE */
  .softwareImg {
    display: block;
    max-width: 100%;
  }
  .softwareText {
    text-align: center;
    font-size: 0.9em;
  }
  .softwareText h1 {
    font-size: 2em;
  }
}

/* MOBILE M AND L */
@media screen and (min-width: 374px) and (max-width: 767px) {
  /* ************************************************CONTACT HTML PAGE************************************************ */
  /* INTRO TEXT */
  .introContact {
    padding: 6em 5em 6em 5em;
  }
  .contactH1 {
    font-size: 1.3em;
  }
  /* FORM */
  .formContact {
    background-position: center;
    padding-left: 1em;
    padding-top: 4em;
  }
  .form-controlContact {
    width: 18rem;
  }
  .textareaFormContact {
    width: 18.5rem;
  }
  .formFileContact {
    padding-left: 1.2em;
    font-size: 0.7em;
  }

  .signupButtonContact {
    width: 8rem;
    height: 2.3rem;
    margin-left: 13rem;
  }

  /* ************************************************PARTNER HTML PAGE************************************************ */
  /* FORM */
  .partner {
    background-position: center;
    padding-left: 10px;
    padding-bottom: 10em;
    padding-top: 5em;
  }
  .formH1 {
    font-size: 2em;
    text-align: left;
  }
  .form-control {
    border-radius: 10px;
    margin: 15px;
    padding-left: 1em;
  }
  input {
    width: 20rem;
    height: 2rem;
    border: 1px solid white;
  }
  .textareaForm {
    width: 20rem;
  }
  .signupButton {
    width: 10rem;
    height: 2.5rem;
    /* background-color: #ddb586; */
    /* color: black; */
    margin-left: 12rem;
  }

  /* CIRCLE */
  .circle-container {
    display: none;
  }
  .mobileWhyQuickit {
    text-align: center;
  }
  .mobileIcon {
    padding: 1em 3em 3em 3em;
    border-bottom: 1px solid black;
  }
  .iconMobileImg {
    max-width: 20%;
    /* max-height: 40%; */
  }
  .iconMobileImg1 {
    max-width: 30%;
  }

  /* SIGN UP BUTTON CENTER */
  .signupBigButton {
    padding: 2em;
  }
  .button {
    width: 15rem;
    height: 2.5rem;
  }
  .signupA {
    color: white;
  }

  /* QUICKIT SOFTWARE */
  .softwareH1 {
    padding: 2em 0 1em 0;
    font-size: 2em;
  }
  .quickitSoftware {
    padding-left: 0em;
    padding-right: 0em;
  }
  .softwareImg {
    display: none;
  }
  .softwareText h1 {
    font-size: 2em;
  }
}

/* MOBILE S SIZE AND SMALLER */
@media screen and (max-width: 373px) {
  /* ************************************************CONTACT HTML PAGE************************************************ */
  /* INTRO TEXT */
  .introContact {
    padding: 4em 2em 4em 2em;
  }
  .contactH1 {
    font-size: 1em;
  }
  /* FORM */
  .formContact {
    background-position: center;
    padding-left: 1em;
    padding-top: 4em;
  }
  .form-controlContact {
    height: 2.5em;
    width: 15rem;
  }
  .textareaFormContact {
    width: 16rem;
  }
  .formFileContact {
    padding-left: 1.2em;
    font-size: 0.7em;
  }

  .signupButtonContact {
    width: 8rem;
    height: 2.3rem;
    margin-left: 10rem;
  }

  /* ************************************************PARTNER HTML PAGE************************************************ */
  /* FORM */
  .partner {
    background-position: center;
    padding-left: 10px;
    padding-top: 2em;
  }
  .formH1 {
    font-size: 1.5em;
  }
  input {
    width: 15rem;
  }
  .textareaForm {
    width: 15rem;
  }
  .signupButton {
    width: 8rem;
    height: 2.5rem;
    margin-left: 9rem;
  }

  /* CIRCLE */
  .circle-container {
    display: none;
  }
  .center h1 {
    padding-bottom: 0em;
    font-size: 2em;
  }
  .mobileWhyQuickit {
    text-align: center;
  }
  .mobileIcon {
    padding: 1em 2em 2em 2em;
    border-bottom: 1px solid black;
  }
  .iconMobileImg {
    max-width: 20%;
    /* max-height: 40%; */
  }
  .iconMobileImg1 {
    max-width: 30%;
  }

  /* SIGN UP BUTTON CENTER */
  .signupBigButton {
    padding: 2em;
  }
  .button {
    width: 13rem;
    height: 2.5rem;
  }

  /* FEATURES */
  .featuresImg {
    max-width: 100%;
  }
  .featuresH1 {
    font-size: 1.2em;
    line-height: 1.5;
    padding-top: 0em;
    padding-bottom: 1em;
  }
  .featuresH2 {
    font-size: 0.8em;
    padding-top: 1em;
  }

  /* QUICKIT SOFTWARE */
  .softwareH1 {
    padding: 2em 0 1em 0;
    font-size: 2em;
  }
  .quickitSoftware {
    padding-left: 0em;
    padding-right: 0em;
  }
  .softwareImg {
    display: none;
  }
  .softwareText h1 {
    font-size: 2em;
  }
}
